<%- include('../partials/header') %>
<h1><%=title%></h1>
    <img src="https://assets.puzzlefactory.pl/puzzle/257/310/original.jpg" alt="Twice" width="auto" height="400">
      <p>Twice is a South Korean girl group formed by JYP Entertainment. The group is composed of nine members: Nayeon, Jeongyeon, Momo, Sana, Jihyo, Mina, Dahyun, Chaeyoung, and Tzuyu. Twice was formed under the television program Sixteen and debuted on October 20, 2015, with the extended play The Story Begins. They're my favorite K-pop group at the moment.</p>    
<%- include('../partials/footer') %>