<%- include('../partials/header') %>
<h1><%=title%></h1>
      <img src="https://www.mastercard.com/news/media/jxyf52es/barrys_share.png" alt="Twice" width="auto" height="400">
      <p>I workout hard and play harder. Through regularly hosted events, Barry’s makes it easy to connect with other members of the community. It’s a party in and out of the Red Room.</p>    
<%- include('../partials/footer') %>
